# Secrets & credentials
*.pem
.env

# Terraform
infra/terraform/terraform.tfvars
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup

# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/build/
